@{
    ViewBag.Title = "Revenda";
}

<div class="row">
    <h1>Revenda</h1>
    <p>Aplicação de revenda.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Marcas</h2>
        <p>Marcas de veículos automotivos</p>
        @Html.ActionLink("Marca", "Index", "Marca")
    </div>
    <div class="col-md-4">
        <h2>Proprietários</h2>
        <p>Proprietário de veículos automotivos</p>
        @Html.ActionLink("Prorietário", "Index", "Proprietario")
    </div>
    <div class="col-md-4">
        <h2>Veículo</h2>
        <p>Veículos automotivos</p>
        @Html.ActionLink("Veículo", "Index", "Veiculo")
    </div>
</div>